<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <!-- <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet"> -->
    <title>Spotify Search</title>
</head>

<body>
    <h1>nuts</h1>
    <div class="wrap">
        <form method="post">
            <div class="search">
                <input type="text" name="song_query" class="searchTerm" placeholder="Enter the song name" required>
            </div>
            <div class="search">
                <input type="text" name="artist_query" class="searchTerm" placeholder="Enter the artist name" required>
            </div>
            <div class="search">
                <button type="submit" class="searchButton">
                    <span>Search</span>
                </button>
            </div>
        </form>
    </div>
</body>

</html>